# =========================
# MISCELLANEOUS
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# IDE / PROJECT SETTINGS
# =========================
*.iml
*.ipr
*.iws
.idea/
.vscode/
android/.gradle/
android/.idea/
android/local.properties

# =========================
# FLUTTER / DART / PUB
# =========================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
generated_plugin_registrant.dart

# =========================
# ANDROID
# =========================
android/app/debug/
android/app/profile/
android/app/release/
android/build/

# =========================
# iOS / macOS
# =========================
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/build/
macos/Flutter/ephemeral/
macos/Pods/
macos/build/

# =========================
# WINDOWS / LINUX
# =========================
windows/flutter/
windows/runner/Debug/
windows/runner/Release/
linux/flutter/
linux/build/

# =========================
# SYMBOLS / OBFUSCATION
# =========================
app.*.symbols
app.*.map.json
